footer {
  background-image: linear-gradient(to top , #20A4D2, #C3E5F1, #FFFFFF);
  
}

footer p, footer h5 ,footer h3, footer label{
  color: black;
}
/* Seccion informativa: historia*/
.text-black {
  text-align: center;
}
.text-black p {
  text-align: justify;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Header*/
.degradado-Encabezado {
  padding: 80px;
  background-image: linear-gradient(to bottom, #20A4D2, #C3E5F1, #FFFFFF);
}

/* Cards */
.profile-area {
  padding: 80px 0;
}

.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
}

.img1 img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 7px solid #fff;
  margin-top: -80px;
}

.card:hover .img2 img {
  border-color: #008a8a;
  transition: 0.7s;
}

.main-text {
  padding: 30px 0;
  text-align: center;
}

.main-text h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  margin: 0 0 20px;
}

.main-text p {
  font-size: 16px;
  padding: 0 35px;
}

/* Encargados */
.texto-profesores {
  text-align: center;
}

h2 {
  padding: 20px;
}
